<!doctype HTML>
<html>

<head>
  <title>Add Movie</title>
</head>

<body>
  <form action="/add_movie" method="POST">
    <p>
      title:
      <input type="text" name="title" value="" /> year:
      <input type="text" name="year" value="" /> imdb:
      <input type="text" name="imdb" value="" />
    </p>
    <input type="submit" value="Submit" />
  </form>
  <h1>Movies</h1>
  <table border="1">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>year</th>
      <th>imdb</th>
    </tr>
    {% for movie in movies %}
    <tr>
      <td>{{ movie._id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.imdb }}</td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>